*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    --colourOne: rgb(84,126,189);
    --colourTwo: rgb(48,62,143);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--colourOne),var(--colourTwo));
    font-family: sans-serif;
    color: antiquewhite;
}

.location, 
.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weekdays{
    display: inline-flex;
    flex-direction: row;
    align-items: left;
    font-weight: 700;
    font-size: 20px;
    
}
.monday{
    padding-right: 17px;
    cursor: pointer;
}
.tuesday{
    padding-right: 17px;
    cursor: pointer;
}
.wednesday{
    padding-right: 17px;
    cursor: pointer;
}
.thursday{
    cursor: pointer;
}
.friday{
    padding-left: 17px;
    cursor: pointer;
}
.saturday{
    padding-left: 17px;
    cursor: pointer;
}
.sunday{
    padding-left: 17px;
    cursor: pointer;
}
.temperature{
    flex-direction: column;
}
.temperature-description{
    font-size: 25px;
    font-family: sans-serif;
    height: 14vh;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}
